<li class="facet-category">
  <span class="facet-category-name">{{t (concat 'field.title.' category)}}</span>
  <ul class="facet-items">
    {{#each-in filteredOptions as |title results|}}
      {{facet-link category title results param onChange=(action onChange) isLoading=isLoading}}
    {{/each-in}}
    {{#if hasHidden}}
      <li class="show-more">
        <a {{action "toggleShowAll"}}>{{if showAll (t "facets.toggle.seeLess") (t "facets.toggle.seeMore")}}</a>
      </li>
    {{/if}}
  </ul>
</li>