<li class="facet-category">
  <span class="facet-category-name">{{facet}}</span>
  <ul class="facet-items">
    {{#each-in filteredOptions as |title results|}}
      {{facet-link facet title results param onChange=(action onChange)}}
    {{/each-in}}
    {{#if hasHidden}}
      <li class="show-more">
        <a {{action "toggleShowAll"}}>{{if showAll "- see less" "+ see more"}}</a>
      </li>
    {{/if}}
  </ul>
</li>