{{!--HOW TO USE
Add this to your template to display the searchbar and advanced search panel.
Syntax:
{{search-searchbar fields=recordFields param=text onChange=(action "updateParams")}}
fields: an array of objects containing the model's DS.Attrs as 'value' and a human-readable version as 'title'
an object containing pagination metadata for current model (results_count, page, and per_page)
param: variable for the queryparam that represents searches -- allows current value to be populated into search bar on page load
onChange: action to be executed when queryParams are changed by this component.
--}}


<form method="post" {{action "executeSearch" searchParams on="submit"}}>
  <div class="input-group" role="group" aria-label="Search">
    <label for="searchbar-search" class="sr-only">Enter search text</label>
    {{input
      id="searchbar-search"
      class="form-control"
      value=searchParams.text
    }}
    <span class="input-group-btn">
      <label for="search-button" class="sr-only">Execute search</label>
      <button id="search-button" class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>

    {{!--Note: Search Syntax
      Coast Salish -> searches anything containing both "Coast" and "Salish"
      "Coast Salish" -> searches anything for the specific phrase, "Coast Salish"
      Salish OR Wellington -> anything with "Salish" or anything with "Wellington"
      Salish~ -> includes anything with a word similar to "Salish"
      Salish NOT Wellington -> includes anything with "Salish", but not if it also contains "Wellington"
      Sal* -> includes any results containing a word starting with "Sal"
      Wom*n -> includes "Woman" or "Women"

      Do we build advanced search features to visually allow for these different methods, or should we just provide a
      box that explains the syntax to users?
    --}}
  </div>
</form>
