//redefine bootstrap defaults
$text-muted: lightgray;

@import "ember-bootstrap/bootstrap";

//set custom variables
$margin-standard: 10px;
$margin-wide: (2 * $margin-standard);
$image-width: 150px;
$image-placeholder: '/assets/thumb_placeholder.gif';
$aside-width: 260px;

@mixin search-result-small() {
  .search-result{
    margin: $margin-standard 0 $margin-standard 0;
    flex-direction: column;
    align-items: center;
    .search-text{
      width:100%;
      margin-bottom: $margin-standard;
      >h3 {
        margin-top: 0;
      }
    },
    .search-thumbnail{
      margin: 0;
    }
  }
}

//-----STYLE-----
//HEADER


//SEARCH
//aside formatting
aside{
  min-width: $aside-width;
  max-width: $aside-width;
  width: $aside-width;
  ul.facet-categories{
    list-style-type: none;
    padding: 0;
    a {&:hover{text-decoration:none;}}
    li.facet-category{
      .facet-category-name{
        font-weight: bold;
      }
      li.show-more{
        cursor: pointer;
      }
    }
    ul.facet-items{
      list-style-type: none;
      padding: 0 $margin-standard;
    }
  }
}
//search-pagination

//surrogate formatting
.search-thumbnail{
  margin: $margin-standard;
  padding-top: $margin-standard;
  width: ($image-width);
  max-height: ($image-width);
  overflow: hidden;
  img{
    width: 100%;
    overflow: hidden;
  }
}
img.placeholder{content: url($image-placeholder);}

//map results page
.leaflet-container{
  width: 100%;
  height: 90%;
}
.overlay-container{
  width: 100%;
  position: relative;
  height: 0;
  top: $margin-standard;
  display: flex;
  justify-content: center;
  .overlay-content {
    z-index: 600;
  }
}

//RESULT
//text
img.result-thumbnail{
  margin-left: auto;
  margin-right: auto;
  width: $aside-width;
}
dl{
  dt::after{content: ":";}
  dd{
    margin: 0 0 0 ($margin-wide);
    &:empty:before{
      content: '(unknown)';
      color: $text-muted;
      font-style: italic;
    }
  }
}
//changes a list into a set of comma separated values
.csv {
  padding: 0;
  display: inline;
  list-style: none;
  li{
    display: inline;
    &:after {content: ', ';}
    &:last-of-type:after {content: '';}
  }
}

//-----LAYOUT-----
//includes flex setup and margins for full site

html, body, body>.ember-view {height:100%;}
div#site-container{
  height:100vh;
  width: 100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
header{
  display:flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: $margin-standard;
  #site-title{min-width: $aside-width + $margin-wide;}
  #search-bar{
    margin: $margin-standard;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
  }
}
footer{
  flex-shrink:0;
  min-height: $margin-standard;
}
.nav-tabs{
  margin-bottom: $margin-standard;
}
div#body-container{
  flex:1 0 auto;
  display:flex;
  justify-content: center;
  width: 100%;
  >*{margin: 0 $margin-standard;}
  #body-content{
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    .leaflet-container{
      flex: 1 0 auto;
    }
  }
  aside{
    flex: 0 0 auto;
    order:-1;
  }
  .search-result{
    display:flex;
    .search-thumbnail{
      order: -1;
    }
    .search-text{
      flex: 1;
    }
  }
}

//-----RESPONSIVE-----
//media queries for full site
@media(max-width: $screen-md){
  //allows search bar to appear below header
  header{flex-wrap:wrap;}
  //places filters above search results instead of on left
  div#body-container{
    flex-direction: column;
    width: 100%;
    align-content: flex-start;
    >*{margin: $margin-standard 0;}
  }
  //button to toggle filters appears
  .aside-toggle {display:block;}
  aside{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    //filters are hidden by default
    .facet-categories{
      display:none;
      &.visible{display:block;}
    }
  }
  footer{
    min-height: 0;
  }
}
//moves thumbnail above search result on small screens / on map search
@media(max-width: $screen-xs){@include search-result-small()}
.leaflet-popup-content{
  @include search-result-small();
}
