<div id="site-container">
  <header>
    <section id="site-title">
      {{!link allows you to reset the query params, which is useful because they're normally sticky in Ember}}
      {{#link-to "search" invokeAction=(action "updateParams" resetParams)}}
        <h1>Supplejack Client</h1>
      {{/link-to}}
    </section>
    <section id="search-bar"></section>
  </header>
  <div id="body-container">
    <div id="body-content">
      {{outlet}}
    </div>
    <aside id="left-sidebar"></aside>
  </div>
  <footer>
    {{#scroll-to class="pull-right" href="#site-title" duration=250}}
      Return to top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    {{/scroll-to}}
  </footer>
</div>