{{ember-load-remover}}
<div id="site-container">

<header>
    <section id="site-title">
      {{!link allows you to reset the query params, which is useful because they're normally sticky in Ember}}
      {{#link-to "search" (query-params page=1 per_page=20 and='' text='' geo_bbox='') current-when="search"}}
        <div id="title-img-container">
          <img src="/assets/odw.png">
          <img src="/assets/bcpdl.png">
        </div>
        <div id="title-text-container">
          <h1>BCPDL-ODW</h1>
          <div class="subtitle">{{t "site.subtitle"}}</div>
          <span class="label label-primary">Prototype</span>
        </div>
      {{/link-to}}
    </section>
    <section id="search-bar"></section>
  </header>
  <div id="body-container">
    <div id="body-content">
      {{outlet}}
    </div>
    <aside id="left-sidebar"></aside>
  </div>
  <footer>
    {{#set-language language="en" locale=(get this.i18n 'locale') onChange=(action "setLocale")}}English{{/set-language}} |
    {{#set-language language="fr" locale=(get this.i18n 'locale') onChange=(action "setLocale")}}Français{{/set-language}}
  </footer>
</div>