<label for="input-text">Text</label>{{input id="input-text" value=text}} <br />
<label for="input-page">Page</label>{{input id="input-page" value=page}} <br />

{{#each model as |item|}}
  {{item.title}} {{item.language}} <br />
{{/each}}